<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swimr.ScalaTestAndroid.scala_android_1.app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
    >
<!--
Replace this:

android:name=".MainActivity"

with the following to use the new Scala Activity...
-->
        <activity
            android:name="com.swimr.ScalaTestAndroid.scala_android_1.app.MainScalaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
